:root {
  --font-color-set: 21, 21, 21;
  --font-color: rgb(var(--font-color-set));
  /* --font-shadow-bottom-right: 6px 6px 3px rgba(var(--font-color-set), .3);
  --font-shadow-bottom-left: -9px 8px 3px rgba(var(--font-color-set), .3);
  --font-shadow-top-right: 8px -9px 3px rgba(var(--font-color-set), .3);
  --font-shadow-top-left: -8px -9px 3px rgba(var(--font-color-set), .3);
  --font-shadow-top-bottom: 0px 10px 3px rgba(var(--font-color-set), .3);
  --font-shadow-bottom-top: 0px -10px 3px rgba(var(--font-color-set), .3); */
  --border-color: rgb(var(--font-color-set));
}

body {
  margin: 0;
  line-height: 1;
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  color: var(--font-color);
  background-image: url('public/grid-pattern.jpg');
  background-position: right -30px bottom -3px;
}

.cardLink {
  width: 100%;
  height: 100%;
  display: block;
  color: inherit;
  text-decoration: none;
}